/*colors*/
/*fonts*/
/*padding/margin*/
/*nav*/
/*body*/
/*card nosotros*/
/*background image*/
/*bg index*/
/*bg nosotros*/
/*bg contacto*/
/*images dj*/
/*img dj hover*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  background: #bdb76b;
}
.color .background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fuegos\ artificiales.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}
.color .background-image .h1__hero {
  font-family: "libre baskerville", sans-serif;
  font-size: 260%;
  padding-bottom: 15px;
}

.p__hero {
  font-family: "fuzzy bubbles", sans-serif;
  font-size: 130%;
  color: aliceblue;
}

.bg__nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imagenes/nosotros.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg__nosotros .nosotros__h1 {
  font-family: "libre baskerville", sans-serif;
}

.nosotros__font {
  font-family: "libre baskerville", sans-serif;
  line-height: 200%;
}

.h1__integrantes {
  font-family: "libre baskerville", sans-serif;
  color: #7d22c4;
  text-shadow: 0 0 50px #7d22c4;
}

.bg__cards {
  background-color: #7d22c4;
}

.card__img {
  box-shadow: 0 0 60px #000000;
}

.h3__cards {
  font-family: "libre baskerville", sans-serif;
}
.h3__cards .p__cards {
  font-family: "trispace", sans-serif;
}

.bg__servicios {
  background-color: blanchedalmond;
}
.bg__servicios .h1__servicios {
  font-family: "libre baskerville", sans-serif;
}
.bg__servicios .p__servicios {
  font-family: "trispace", sans-serif;
}

.ubicacion__color {
  background-color: #000000;
}
.ubicacion__color .h2__ubicacion {
  background-color: #000000;
  font-family: "libre baskerville", sans-serif;
}

.iframe__servicios {
  max-width: 100%;
}

.img__galeria {
  height: 300px;
  width: 100%;
}
.img__galeria:hover {
  transform: scale(0.9);
  cursor: pointer;
  opacity: 80%;
  box-shadow: 0 0 30px #fff;
}

.h1__contacto {
  font-family: "libre baskerville", sans-serif;
  box-shadow: 0 0 30px #000000;
}

.contacto__hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/contacto\ hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ff__contacto {
  font-family: "libre baskerville", sans-serif;
}

.btn__hover {
  background-color: #7d22c4;
}

.ff__title {
  font-family: "libre baskerville", sans-serif;
}

.ff__subtitle {
  font-family: "trispace", sans-serif;
}

.nav__list {
  list-style: none;
}

.ff__link {
  font-family: "trispace", sans-serif;
}
.ff__link:hover {
  transform: scale(0.9);
  color: aquamarine;
}

.img__transform:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 80%;
}

.img__dj {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  border: 2px lightgreen solid;
}
.img__dj:hover {
  border-radius: 100px;
  transform: scale(0.9);
  cursor: pointer;
  box-shadow: 0 0 30px red;
}

/*# sourceMappingURL=style.css.map */
