.p__galeria {
  font-family: $ff-trispace;
  font-size: $fs-hero;
}

.bg__galeria {
  background: $linear-gradient-galeria;
}

.img__galeria {
  @include sizes(100%, 300px);
  &:hover {
    @include transform(scale(0.9));
    cursor: $cursor;
    opacity: $opacity;
    box-shadow: $box-shadow-galeria;
  }
}
